<% if @error == true %>
  <%= "
    <div>
      <p>Wrong email or password. Please try again.</p>
    </div>
  " %>
<% end %>

<form action="/login" method="POST">

  <div>
    <label for="email">Email: </label>
    <input type="text" id="email" name="user[email]">
  </div>

  <div>
    <label for="password">Password: </label>
    <input type="password" id="password" name="user[password]">
  </div>

  <div><input type="submit" name="Log in"></div>

</form>
