<h1>Welcome to Blogging!</h1>

<% if @need_login %>
<%= "<p>You need to be logged in to do that!</p>" %>
<% end %>

<h4>If you already have an account, <a href="/?signin=true">sign in</a>.</h4>
<% if @sign_in %>
  <%= erb :_signin %>
<% end %>

<hr>

<h4>If you're new around here, <a href="/?signup=true">sign up</a>.</h4>
<% if @sign_up %>
  <%= erb :_signup %>
<% end %>
